version: "3.8"

services:
  postgres:
    image: docker.io/library/postgres:latest
    container_name: duckdlake-db
    environment:
      POSTGRES_USER: duckuser
      POSTGRES_PASSWORD: duckpass
      POSTGRES_DB: ducklake_catalog
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  minio:
    image: 'minio/minio:latest'
    ports:
      - '9000:9000'
      - '8900:8900'
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: password
    volumes:
      - 'minio:/data/minio'
    command: 'minio server /data/minio --console-address ":8900"'
    healthcheck:
      test:
        - CMD
        - curl
        - '-f'
        - 'http://localhost:9000/minio/health/live'
      retries: 3
      timeout: 5s

volumes:
  pgdata:
  minio:
      driver: local
